.root {
    box-sizing: border-box;
    min-width: 600px;
    margin: 0;

    color: #626262;
    background: #d9d9d9;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.header {
    box-shadow: inset 0 -15px 15px -10px rgba(0, 0, 0, 0.3);

    background-color: #58614e;
}

.header__content {
    display: flex;

    max-width: 940px;
    margin: auto;
    padding: 40px 0 42px 0;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
}

.header__menu {
    margin-bottom: 0;
}

.title__logo {
    display: inline-block;

    width: 80px;
    height: 49px;
    margin-right: 10px;
}

.title__text {
    display: inline-block;

    text-transform: uppercase;
    color: #ececec;
    text-shadow: 1px 1px 1px #000000;

    font-family: "Caudex", serif;
}

.title__company-name,
.title__company-description {
    margin: 0;
    padding: 0;

    font-weight: 100;
}

.title__company-name {
    font-size: 28px;
}

.title__company-description {
    text-align: center;

    font-size: 12.9px;
}

.menu {
    display: flex;

    list-style-type: none;
    flex-flow: row wrap;
}

.menu__item {
    margin-left: 30px;

    text-transform: uppercase;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link {
    transition:
        color 0.1s,
        text-shadow 0.2s;
    text-decoration: none;
    color: #b8c6ac;
    text-shadow: 1px 1px 1px #000000;

    font-family: "Times New Roman", serif;
    font-size: 12.9px;
    font-weight: bold;
}

.menu__link:hover {
    color: #808977;
    text-shadow: 1px 1px 3px #000000;
}

.menu__link--active,
.menu__link:active {
    color: #ffffff;
}

.landing {
    padding-top: 15px;

    background: radial-gradient(ellipse 1000px 250px at bottom, #000000 0, transparent 56%);
}

.landing__image {
    display: block;

    max-width: 940px;
    margin: 0 auto -2px auto;
}

.description__content {
    display: flex;

    flex-direction: row;
    max-width: 940px;
    margin: auto;
    padding: 0 10px;
}

.description__promise {
    flex: 2;
}

.description__testimonials {
    flex: 1;
}

.promise {
    padding: 15px 20px 20px 0;
    border-right: dotted 1px #ffffff;
}

.promise__title {
    margin: 0;

    font-family: "Times New Roman", serif;
    font-size: 32px;
    font-weight: lighter;
}

.promise__link {
    color: #626262;
}

.promise__link:hover {
    color: #000000;
}

.testimonials {
    padding: 25px 15px 20px 15px;
}

.testimonials__title {
    margin: 0;

    text-transform: uppercase;

    font-family: "Times New Roman", serif;
    font-weight: lighter;
}

.testimonials__quote {
    margin: 20px 0 0 0;
}

.testimonials__author {
    text-align: right;
}

@media (max-width: 700px) {
    .description__content {
        flex-direction: column;
    }

    .promise {
        padding: 25px 5px 5px 0;
        border-right-style: none;
    }

    .testimonials {
        padding: 10px 5px;
    }
}

.benefits {
    background: #d9d9d9;
}

.benefits__content {
    max-width: 940px;
    margin: auto;
    padding: 0 10px;
}

.benefits__title {
    margin: 20px 0 10px 0;

    text-transform: uppercase;

    font-family: "Times New Roman", serif;
    font-weight: lighter;
}

.benefits__list {
    display: flex;

    flex-flow: row wrap;
    justify-content: space-between;
}

@media (max-width: 940px) {
    .benefits__list {
        margin: 0 70px;
    }
}

.benefit {
    transition: transform 0.2s;
}

.benefit:hover {
    transform: scale(1.05, 1.05);
}

.benefit__image-container {
    position: relative;
    top: 0;
    left: 0;
}

.benefit__image-shadow {
    margin-top: 10px;
}

.benefit__image-background {
    position: absolute;
    top: 0;
    left: 0;

    width: 216px;
    height: 148px;
    border: solid 1px #c9c9c9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    background-color: #ffffff;
}

.benefit__image {
    position: absolute;
    top: 5px;
    left: 5px;
}

.benefit__title {
    margin: 15px 0 10px 0;

    text-transform: uppercase;
}

.benefit__description {
    width: 220px;
    height: 70px;
    margin: 0 0 20px 0;
}

.benefit__button {
    display: inline-block;

    margin-bottom: 15px;
}

.feedbacks__content {
    display: grid;

    max-width: 940px;
    margin: auto;
    padding: 0 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.feedbacks__shadow {
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;

    width: 600px;
    height: 40px;
    margin: -40px auto auto auto;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.feedback {
    padding: 30px 15px;
    border-right: solid 1px #c0c0c0;
}

.feedback:last-child {
    border-right-style: none;
}

.feedback__title {
    margin: 0;

    text-transform: uppercase;
}

.feedback__content {
    margin: 10px 0;

    font-size: 14.4px;
    font-style: normal;
}

.feedback__button {
    display: inline-block;
}

.footer {
    background-color: #58614e;
}

.footer__content {
    display: flex;

    flex-direction: row;
    max-width: 940px;
    height: 28px;
    margin: auto;
    padding: 15px 10px 0 10px;
    justify-content: space-between;
}

.social {
    display: flex;

    flex-direction: row;
}

.social__link {
    margin-left: 5px;

    text-decoration: none;
}

.social__icon {
    width: 15px;
    height: 15px;
}

.social__icon:hover {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}

.footer__copyright {
    text-transform: uppercase;
    color: #ffffff;

    font-size: 12.9px;
}

.header,
.landing,
.description,
.benefits,
.feedbacks {
    border-bottom: 2px solid #ffffff;
}

.button {
    border-radius: 0 3px;

    transition: background-color 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #5b5b5b;
    text-shadow: 1px 1px 1px #000000;

    font-size: 12.9px;
}

.button:hover {
    background-color: #000000;
}

.button--size--small {
    padding: 10px 13px;
}

.button--size--large {
    padding: 14px 20px;
}